<!-- <div class="dialog-header">
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content class="dialog-content">
  <div *ngFor="let image of data.images">
    <img [src]="image" alt="Imagen" class="dialog-image">
  </div>
</div> -->
<!-- ------------------------------------------------ -->

<!-- image-dialog.component.html -->
<div class="dialog-header">
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="carousel-container">
  <button *ngIf="data.images.length > 1" class="nav-button" (click)="previousImage()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <img [src]="currentImage" alt="Imagen" class="dialog-image" id="carousel-image">
  <button *ngIf="data.images.length > 1" class="nav-button" (click)="nextImage()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<div *ngIf="data.images.length > 1" class="indicator-container">
  <span *ngFor="let img of data.images; let i = index" [class.active]="i === currentIndex" class="indicator"></span>
</div>
