.full-screen-dialog .mat-dialog-container {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.dialog-header {
  position: absolute;
  right: 0;
  padding-top: 15px;
  padding-right: 15px;

  button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    .mat-icon {
      margin-top: 5px;
    }
  }
}

.mat-dialog-content {
  overflow-y: auto;
  flex: 1 1 auto;
}

.dialog-image {
  width: 100%;
  height: auto;
}

.mat-icon-button {
  border: none;
  border-radius: 10px;
}

::ng-deep .cdk-global-overlay-wrapper {
  justify-content: center !important;
  align-items: center !important;
}
